        {% for entity in entities %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ entity.user.username }}</strong> <span class="text-muted">commented on {{ entity.createdOn|date('Y-m-d H:i:s') }}</span>
                </div>
                <div class="panel-body">
                    {{ entity.comment }}
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        {% endfor %}